{% extends 'myblog/base.html' %}
{% block title %}

    <title>{{ post.title }} : 블로그 게시물</title>
{% endblock %}
{% block content %}

    <p class="fs-5 text-muted">{{ post.subject }}</p>
    <p class="fs-2">{{ post.title }}</p>
    <img width="70px" height="70px" src="{{ user.avatar.url }}">
    <p>{{ user.username }}</p>
    <p>{{ post.update_date }}</p>
    <p class="fs-4">{{ post.content }}</p>
    <a class="btn btn-success" href="{% url 'myblog:blog_free_board' user.username %}">돌아가기</a>
    <a class="btn btn-primary" href="{% url 'myblog:blog_free_edit' user.username post.pk  %}">수정</a>
    <a class="btn btn-danger" href="{% url 'myblog:blog_free_delete' user.username post.pk  %}">삭제</a>
{% endblock %}