{% extends 'myblog/base.html' %}
{% block title %}
    <title>{{ blog_user.username }}님의 블로그</title>

{% endblock %}
{% block content %}
    {% if blog_user.avatar %}
        <img width="200px" height="200px" src="{{ blog_user.avatar.url }}">
    {% endif %}
    {% if blog.blog_name %}
        <p class="fs-5">{{ blog.blog_name }}</p>
        <p class="fs-6">({{ blog_user.username }})</p>
        <p>블로그 설명:{{ blog.blog_intro }}</p>
        <a href="{% url 'myblog:blog_recommend' blog_user.username %}" class="btn btn-primary">블로그 추천
            <span class="badge text-bg-secondary">{{ blog.recommend }}</span>
        </a>


        <br>
    {% else %}
        <p>{{ blog_user.username }}</p>
        <p>블로그 설명:{{ blog.blog_intro }}</p>
    {% endif %}
    <a href="{% url 'myblog:blog_free_board' blog_user.username %}">자유게시판</a>
    <br>
    <a href="{% url 'myblog:blog_photo_board' blog_user.username %}">사진게시판</a>
{% endblock %}