{% extends 'community/mypage_base.html' %}
{% load django_bootstrap5 %}
{% block menu %}
    <a href="{% url 'community:my_page' %}" class="list-group-item" href="">회원정보</a>
    <a href="{% url 'accounts:my_page_password' %}" class="list-group-item " href="">비밀번호 변경</a>
    {% if user.first_name and user.last_name and user.gender and user.age and user.univ and user.email and user.job %}
        <a href="{% url 'accounts:my_page_inf_change' %}" class="list-group-item list-group-item-action active" href="">회원정보
            수정</a>
    {% else %}
        <a href="{% url 'accounts:my_page_inf_change' %}" class="list-group-item list-group-item-action active" href="">회원정보
            등록</a>
    {% endif %}
{% endblock %}
{% block my_content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">등록</button>
    </form>
{% endblock %}